
body{
    margin: 7%;
    /* background-color: #F6F7FA; */
    background-image: url('../img/bg.jpg'); /* Adjust path if needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    /* margin: 0; */
    padding: 0;

}



.container{
    width: 45%;
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px;
    margin: 0;
    padding: 0;
    box-shadow: 0 3px 5px 0 rgba(240, 240, 240, 0.3);
    animation: transitionIn-Y-over 0.5s;

}
td{
    text-align: center;

}
.header-text{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;

}

.sub-text{
    font-size: 15px;
    color: rgb(138, 138, 138);
}

.form-label{
    color: rgb(44, 44, 44);
    text-align: left;
    font-size: 14px;
}
.label-td{
    text-align: left;
    padding-top: 10px;
}

.hover-link1{
    font-weight: bold;
}


.hover-link1:hover{
    opacity: 0.8;
    transition: 0.5s;


}.login-btn{
    /*margin-top: 15px;*/
    margin-bottom: 15px;
    width: 100%;
}

@media (max-width: 992px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 768px) {
    body {
        margin: 5%;
    }

    .container {
        width: 95%;
        padding: 10px;
    }

    table {
        width: 100% !important;
    }

    .header-text {
        font-size: 24px;
    }

    .sub-text {
        font-size: 14px;
    }

    .form-label {
        font-size: 13px;
    }

    .input-text {
        font-size: 14px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .login-btn {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .header-text {
        font-size: 20px;
    }

    .sub-text {
        font-size: 13px;
    }

    .form-label {
        font-size: 12px;
    }

    .login-btn {
        font-size: 14px;
    }
}

